.buildings .name a {
	color: black !important;
}

.building-summary .battery-container {
	width: 90px;
	background-color: white;
	position: relative;
	border-radius: 5px;
	overflow: hidden;
	border: 3px solid #525252;
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.5);
	float: left;
	margin: 10px;
}

.building-summary .battery-container .level {
	position: absolute;
	bottom: 0px;
	background-color: #00B2ED;
	width: 100%;
	transition: height .5s, background-color .5s;
}

.building-summary .battery-container .level.charging {
	background-color: #6BED00;
}

.building-summary .battery-container .level.low {
	background-color: #ED3B00;
}

.building-summary .battery-info {
	text-align: center;
	float: left;
	margin: 30px;
}

.building-summary .battery-info .percentage {
	font-size: 50px;
}

.building-summary .battery-info .charging-state {
	margin-top: 0px;
}

.clear { 
	clear: both;
}