<div class="buildings" ng-controller="BuildingsCtrl as buildings">
  <div class="callout callout-danger" ng-if="buildings.buildingCreateError">
    <h4>Building creation failed</h4>
    <p>There was a problem while creating the building. Please try again.</p>
  </div>

  <div class="callout callout-success" ng-if="buildings.buildingCreateSuccess">
    <h4>Building created successfully</h4>
    <p>The building has been created successfully.</p>
  </div>

  <div class="callout callout-danger" ng-if="buildings.buildingDeleteError">
    <h4>Building deletion failed</h4>
    <p>There was a problem while deleting the building. Please try again.</p>
  </div>

  <div class="callout callout-success" ng-if="buildings.buildingDeleteSuccess">
    <h4>Building deleted successfully</h4>
    <p>The building has been deleed successfully.</p>
  </div>

  <p>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createBuildingModal">
      <span class="glyphicon glyphicon-plus"></span> New
    </button>
  </p>

  <div class="row" class="buildings">
    <div ng-repeat="building in buildings.buildings" class="col-sm-12 col-lg-6 building">
      <div class="box box-solid">
        <div class="box-header with-border">
          <i class="fa fa-home"></i>
          <h1 class="box-title"><a ng-href="/{{building.id}}">{{building.name}}</a></h1>
          <span class="pull-right">
            <button type="button" class="btn btn-sm btn-danger" ng-click="buildings.showBuildingDeleteConfirmation(building)">
              <span class="glyphicon glyphicon-trash"/>
            </button>
          </span>
        </div>

        <div class="box-body">
          <span ng-include="'views/nostateinformation.html'" ng-if="true"></span>
        </div>
      </div>
    </div>
  </div>

  <!-- Create building -->
  <div class="modal fade" id="createBuildingModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">New Building</h4>
        </div>
        <div class="modal-body">
          <building-form is-valid="buildings.newBuildingValid" building="buildings.newBuilding"></building-form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" ng-disabled="!buildings.newBuildingValid" data-dismiss="modal" class="btn btn-primary" ng-click="buildings.createNewBuilding()">Create</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete building -->
  <div class="modal fade" id="deleteBuildingConfirmationModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Delete Building "{{buildings.deleteConfirmationBuilding.name}}"?</h4>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete the building "{{buildings.deleteConfirmationBuilding.name}}"?</p>
          <p>This will permanently delete all data for this building.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">No way!</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="buildings.deleteBuilding(buildings.deleteConfirmationBuilding)">Yes, do it!</button>
        </div>
      </div>
    </div>
  </div>
</div>
