<form role="form" name="passwordForm" novalidate>
  <div class="form-group">
      <label for="password">{{fieldName}}</label>
      <input ng-model="password1" type="password" class="form-control" id="password" placeholder="{{fieldName}}" required>
  </div>
  <div class="form-group">
      <label for="passwordConfirm">{{fieldName}} (again)</label>
      <input ng-model="password2" type="password" class="form-control" id="passwordConfirm" placeholder="{{fieldName}} (again)" required>
  </div>
</form>
