<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Offgrid Monitoring</title>
    <base href="/">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/AdminLTE/dist/css/AdminLTE.min.css" />
    <link rel="stylesheet" href="bower_components/AdminLTE/dist/css/skins/skin-blue.min.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/Ionicons/css/ionicons.css" />
    <link rel="stylesheet" href="bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
  </head>
  <body ng-app="offgridmonitoringApp" class="hold-transition skin-blue sidebar-mini">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div ng-if="!people.isAuthenticated()">
      <div ng-view=""></div>
    </div>

    <div class="wrapper" ng-show="people.isAuthenticated()">
      <div ng-include="'views/navigation.html'"></div>
      <div ng-include="'views/leftmenu.html'"></div>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper" ng-cloak>
        <!-- Content Header (Page header) -->
        <section class="content-header" ng-if="showBreadcrumbs">
          <h1>
            {{Breadcrumbs.crumbs[Breadcrumbs.crumbs.length-1].name}}
            <small ng-if="Breadcrumbs.crumbs[Breadcrumbs.crumbs.length-1].description">{{Breadcrumbs.crumbs[Breadcrumbs.crumbs.length-1].description}}</small>
          </h1>
          <ol class="breadcrumb" ng-if="Breadcrumbs.crumbs.length > 0">
            <li ng-class="{active : $last}" ng-repeat="breadcrumb in Breadcrumbs.crumbs"><a ng-href="{{breadcrumb.path}}"><i ng-if="$first" class="fa fa-dashboard"></i> {{breadcrumb.name}}</a></li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">

          <!-- Page content -->
          <div ng-view=""></div>

        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
    </div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/AdminLTE/dist/js/app.min.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <script src="bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="bower_components/angular-eonasdan-datetimepicker/dist/angular-eonasdan-datetimepicker.js"></script>
    <script src="bower_components/moment-timezone/builds/moment-timezone-with-data-2010-2020.js"></script>
    <script src="bower_components/chart.js/dist/Chart.bundle.min.js"></script>
    <script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/buildings.js"></script>
    <script src="scripts/controllers/readings.js"></script>
    <script src="scripts/controllers/login.js"></script>
    <script src="scripts/controllers/profile.js"></script>
    <script src="scripts/controllers/leftmenu.js"></script>
    <script src="scripts/controllers/export.js"></script>
    <script src="scripts/controllers/buildingsummary.js"></script>
    <script src="scripts/controllers/states.js"></script>
    <script src="scripts/controllers/calibrations.js"></script>
    <script src="scripts/controllers/futurestate.js"></script>
    <script src="scripts/controllers/predictionpatterns.js"></script>
    <script src="scripts/services/loopback.js"></script>
    <script src="scripts/services/breadcrumbs.js"></script>
    <script src="scripts/services/breadcrumb.js"></script>
    <script src="scripts/services/sensortypes.js"></script>
    <script src="scripts/services/timestamp.js"></script>
    <script src="scripts/services/chartcolours.js"></script>
    <script src="scripts/services/charthelper.js"></script>
    <script src="scripts/services/futurestatehelper.js"></script>
    <script src="scripts/directives/colourselector.js"></script>
    <script src="scripts/directives/buildingconfiguration.js"></script>
    <script src="scripts/directives/sensorselector.js"></script>
    <script src="scripts/directives/pagefilter.js"></script>
    <script src="scripts/directives/stateofchargegraph.js"></script>
    <script src="scripts/directives/stateofchargeonlygraph.js"></script>
    <script src="scripts/directives/energysourcegraph.js"></script>
    <script src="scripts/directives/totalenergygraph.js"></script>
    <script src="scripts/directives/predictiontypeselector.js"></script>
    <script src="scripts/directives/weeklypredictiondata.js"></script>
    <script src="scripts/directives/dailypredictiondata.js"></script>
    <script src="scripts/directives/hourlypredictiondata.js"></script>
    <script src="scripts/constants.js"></script>
    <!-- endbuild -->
</body>
</html>
