<div class="row">
	<div ng-if="summary.latestReadingTimestamp" class="col-lg-3 col-xs-6">
        <!-- Latest reading section -->
        <div class="small-box bg-yellow">
        	<div class="inner">
				<p>Last reading</p>
            	<h3 am-time-ago="summary.latestReadingTimestamp | amFromUnix"></h3>
            </div>
            <div class="icon">
            	<i class="fa fa-calendar"></i>
            </div>
    	</div>
	</div>

	<div ng-if="summary.readingCount.count" class="col-lg-3 col-xs-6">
        <!--  -->
        <div class="small-box bg-red">
        	<div class="inner">
				<p>Readings recorded</p>
            	<h3>{{summary.readingCount.count | number}}</h3>
            </div>
            <div class="icon">
            	<i class="fa fa-database"></i>
            </div>
    	</div>
	</div>

	<!-- For each reading -->
  	<div ng-repeat="sensor in summary.sensorReadings" class="col-lg-3 col-xs-6">
    	<div ng-if="summary.latestReadingTimestamp" class="small-box" ng-class="{'bg-blue' : sensor.typedata.isAC, 'bg-green' : !sensor.typedata.isAC}">
        	<div class="inner">
				<p>{{sensor.metadata.name}}</p>
            	<h3>{{sensor.value}} {{sensor.typedata.unitFull}}</h3>
            </div>
            <div class="icon">
            	<i class="fa" ng-class="{'fa-plug' : sensor.typedata.isAC, 'fa-battery-three-quarters' : !sensor.typedata.isAC}"></i>
            </div>
    	</div>
    </div>
  </div>
</div>