<div class="row building-summary">

    <!-- Battery status section -->
    <div class="col-md-6" ng-if="summary.state && summary.state.timestamp">
        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Battery</h3>
            </div>
            <div class="box-body">
                <!-- Battery level diagram -->
                <div class="battery-container" style="height: {{summary.batteryDiagramHeight}}px;">
                    <!--  Filled in section -->
                    <div class="level" ng-class="{low : summary.chargeLevel < 0.2, charging : summary.state.isBatteryCharging}"
                    style="height: {{summary.getBatteryLevelHeight()}}px;"></div>
                </div>

                <!-- Battery level information -->
                <div class="battery-info">
                    <span class="percentage">{{summary.chargeLevel * 100 | number : 0}}%</span>
                    
                    <h3 class="charging-state">
                        <i class="fa" ng-class="{'fa-arrow-up' : summary.state.isBatteryCharging, 'fa-arrow-down' : !summary.state.isBatteryCharging}"></i>
                        {{summary.state.isBatteryCharging ? 'Charging' : 'Discharging'}}
                    </h3>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>

    <!-- Energy flow section -->
    <div class="col-md-6" ng-if="summary.state && summary.state.timestamp">
        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Energy Flow</h3>
            </div>
            <div class="box-body">
                <canvas class="chart chart-bar" height="200px"
                    chart-data="summary.energyFlowData" chart-labels="summary.energyFlowLabels" chart-options="summary.energyFlowOptions" chart-series="summary.energyFlowSeries" chart-dataset-override="summary.energyFlowDatasetOverride">
                </canvas>
            </div>
        </div>
    </div>
</div>