<!-- TODO: Add edit, delete, add functunality. -->

<div class="buildings" ng-controller="BuildingsCtrl as buildings">
  <div class="callout callout-danger" ng-if="buildings.buildingCreateError">
    <h4>Building creation failed</h4>
    <p>There was a problem while creating the building. Please try again.</p>
  </div>

  <div class="callout callout-success" ng-if="buildings.buildingCreateSuccess">
    <h4>Building created successfully</h4>
    <p>The building has been created successfully.</p>
  </div>

  <p>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createBuildingModal">
      <span class="glyphicon glyphicon-plus"/> New
    </button>
  </p>

  <div class="row">
    <div ng-repeat="building in buildings.buildings" class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="caption">
          <h3 class="name"><a ng-href="/{{building.id}}">{{building.name}}</a></h3>

          Building owners:
          <ul>
          	<li ng-repeat="owner in building.people">{{owner.name}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Create building -->
  <div class="modal fade" id="createBuildingModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">New Building</h4>
        </div>
        <div class="modal-body">
          <building-configuration is-valid="buildings.newBuildingValid" building="buildings.newBuilding"></building-configuration>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" ng-disabled="!buildings.newBuildingValid" class="btn btn-primary" ng-click="buildings.createNewBuilding()">Create</button>
        </div>
      </div>
    </div>
  </div>
</div>
