<canvas id="line" class="chart chart-line" chart-data="averageConsumptionData"
	height="{{height}}" chart-labels="averageConsumptionLabels" chart-options="averageConsumptionOptions"
	chart-dataset-override="averageConsumptionDatasetOverride">
</canvas>
<h4>Total hourly energy for each hour of the day (Wh)</h4>
<div class="scroll-table-container">
	<table class="table table-hover">
		<thead>
			<tr>
				<th ng-repeat="hourIndex in hourIndexes">{{getHourText(hourIndex)}}</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td ng-repeat="(hourIndex, hourTotal) in predictionPattern.data.hours">{{hourTotal | number:0}}</td>
			</tr>
		</tbody>
	</table>
</div>