<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar" ng-controller="LeftMenuCtrl as leftMenu">

  <section class="sidebar">

    <!-- General navigation -->
    <ul class="sidebar-menu">
      <li ng-repeat="item in leftMenu.generalNavigation" ng-class="{'active' : leftMenu.isGeneralNavigationSelected(item)}">
        <a href="#" ng-href="/{{item.path}}"><i class="fa" ng-class="'fa-' + item.icon"></i> <span>{{item.name}}</span></a>
      </li>
    </ul>

    <!-- Per building navigation -->
    <ul ng-repeat="building in leftMenu.buildings" class="sidebar-menu">
      <li class="header"><span>{{building.name}}</span></li>
      <li ng-repeat="item in leftMenu.perBuildingNavigation" ng-class="{'active' : leftMenu.isPerBuildingNavigationSelected(item, building)}">
        <a href="#" ng-href="{{building.id}}/{{item.path}}"><i class="fa" ng-class="'fa-' + item.icon"></i> <span>{{item.name}}</span></a>
      </li>
    </ul>
  </section>
</aside>