<form role="form" name="passwordForm" novalidate>
  <div class="form-group">
      <label for="password">New password</label>
      <input ng-model="password1" type="password" class="form-control" id="password" placeholder="Your new password" required>
  </div>
  <div class="form-group">
      <label for="passwordConfirm">New password (again)</label>
      <input ng-model="password2" type="password" class="form-control" id="passwordConfirm" placeholder="Your new password (again)" required>
  </div>
</form>
