<div class="row">
	<div class="col-md-6">
		<div class="box">
		  	<div class="box-header with-border">
		    	<h3 class="box-title">
		    		Filter and Sort
		    	</h3>
		  	</div>
		  	<div class="box-body table-responsive">
		  		<div class="form-group">
					<label for="from">From</label>
					<input type="text" class="form-control"
						datetimepicker
						datetimepicker-options="{{datePickerOptions}}"
						placeholder="The start of collection."
				 		name="from"
				 		ng-model="from">
				</div>

				<div class="form-group">
				    <label for="until">Until</label>
				    <input type="text" class="form-control"
				    	datetimepicker
				        datetimepicker-options="{{datePickerOptions}}"
				        placeholder="Now."
				        name="until"
				        ng-model="until">
				</div>

				<div class="form-group">
                	<label>Sort by</label>
                  	<select class="form-control" ng-model="sortOrder">
                    	<option value="desc">Most recent first</option>
                    	<option value="asc">Oldest first</option>
                  	</select>
                </div>
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="box">
		  	<div class="box-header with-border">
		    	<h3 class="box-title">
		    		Page
		    	</h3>
		  	</div>

		  	<div class="box-body table-responsive">
		  		<div class="form-group">
                	<label>Current page</label>
					<div class="input-group" ng-class="{'has-error' : isCurrentPageError}">
						<span class="input-group-btn">
							<button ng-disabled="currentPage <= 1" ng-click="currentPage = currentPage - 1" type="button" class="btn btn-default" aria-label="Previous Page">
								<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
							</button>
						</span>
						<span class="input-group-addon">Page</span>
						<input type="text" class="form-control" ng-model="currentPageText">
							<span class="input-group-addon ng-binding" ng-if="numberOfPages">of {{numberOfPages | number}}</span>
							<span class="input-group-btn">
								<button ng-disabled="currentPage >= numberOfPages" ng-click="currentPage = currentPage + 1" type="button" class="btn btn-default" aria-label="Next Page">
									<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
								</button>
							</span>
					</div>
				</div>
			 
		  		<div class="form-group">
                	<label>Amount per page</label>
                  	<select class="form-control" ng-model="amountPerPage">
                    	<option value="10">10</option>
                    	<option value="50">50</option>
                    	<option value="100">100</option>
                    	<option value="500">500</option>
                  	</select>
                </div>
			</div>
		</div>
	</div>

	<div class="col-xs-12">
		<div class="box" ng-if="bridge">
		  	<div class="box-header with-border">
		    	<h3 class="box-title">
		    		Results
		    		<small>{{readings.length | number}} readings<span ng-if="totalReadings"> of {{totalReadings | number}}</span></small>
		    	</h3>
		  	</div>
		  	<div class="box-body table-responsive no-padding">
			    <table class="table table-hover">
			    	<tbody>
				    	<tr>
				        	<th>Index</th>
				        	<th>Time</th>
				        	<th ng-repeat="sensor in bridge.sensors">
				        		{{sensor.name}}
				        		<br>
				        		<span class="label label-primary">{{SensorTypes[sensor.type].electricity}}</span>
			        			<span class="label label-primary">{{SensorTypes[sensor.type].type}}</span>
				        	</th>
				      	</tr>
				      	<!-- Each reading -->
				      	<tr ng-repeat="reading in readings">
				      		<td>
				      			{{(currentPage - 1) * amountPerPage + $index + 1}}
				      		</td>
				      		<td>
				      			{{reading.timestamp | amFromUnix | amDateFormat:dateTimeFormat}}
				      		</td>
				      		<!-- Each sensor -->
				      		<td ng-repeat="sensor in bridge.sensors">
				      			<span ng-if="reading.values[sensor.id] !== undefined">
				      				{{reading.values[sensor.id] | number}} {{SensorTypes[sensor.type].unitShort}}
				      			</span>
				      		</td>
				      	</tr>
				    </tbody>
				</table>
			</div>
		</div>
	</div>
</div>