<div class="row">
	<page-filter sort-order="sortOrder" number-of-results="totalReadings" amount-per-page="amountPerPage" current-page="currentPage" from="from" until="until"></page-filter>

	<div class="col-xs-12">
		<div class="box" ng-if="bridge">
		  	<div class="box-header with-border">
		    	<h3 class="box-title">
		    		Results
		    		<small>{{readings.length | number}} readings<span ng-if="totalReadings"> of {{totalReadings | number}}</span></small>
		    	</h3>
		  	</div>
		  	<div class="box-body table-responsive no-padding">
			    <table class="table table-hover">
			    	<tbody>
				    	<tr>
				        	<th>Index</th>
				        	<th>Time</th>
				        	<th ng-repeat="sensor in bridge.sensors">
				        		{{sensor.name}}
				        		<br>
				        		<span class="label label-primary">{{SensorTypes[sensor.type].electricity}}</span>
			        			<span class="label label-primary">{{SensorTypes[sensor.type].type}}</span>
				        	</th>
				      	</tr>
				      	<!-- Each reading -->
				      	<tr ng-repeat="reading in readings">
				      		<td>
				      			{{(currentPage - 1) * amountPerPage + $index + 1}}
				      		</td>
				      		<td>
				      			{{reading.timestamp | amFromUnix | amDateFormat:dateTimeFormat}}
				      		</td>
				      		<!-- Each sensor -->
				      		<td ng-repeat="sensor in bridge.sensors">
				      			<span ng-if="reading.values[sensor.id] !== undefined">
				      				{{reading.values[sensor.id] | number}} {{SensorTypes[sensor.type].unitShort}}
				      			</span>
				      		</td>
				      	</tr>
				    </tbody>
				</table>
			</div>
		</div>
	</div>
</div>